h2{
    color:rgb(130, 151, 245);
 
 }
 .b{
   color:rgb(0, 0, 0);
 }
 h2{
     padding:0 20px;
 }
 .title{
     color:rgb(130, 151, 245);
    border:1px solid rgb(130, 151, 245);
     text-align: center;
 
 
 }
 .contacts{
     margin-top: 150px;
 }
 .content{
     margin-top: 70px;
 }
 .content h4{
     color:rgb(130, 151, 245);
     background-color: rgb(130, 151, 245);
 
 }
 .head{
   text-align: center;
   font-size:22px;
   color:rgb(130, 151, 245);
 }
 i{
     color:rgb(130, 151, 245);
 }
 .btn btn-secondary{
     border:1px solid rgb(130, 151, 245);
     background-color: rgb(130, 151, 245);
 
 
 
 }
 .important{
     text-align: center;
     color:white;
     margin-top: 15px;
     border-radius: 0 0 5px 5px;
     background-color: rgb(130, 151, 245);
 }
 .center{
     display: flex;
   justify-content: center;
   align-items: center;
   height: 50px;
   border: 1px solid rgb(238, 240, 238);
 }
 
   * {
     box-sizing: border-box;
   }
 
   #myInput {
     background-image: url('/css/searchicon.png');
     background-position: 10px 10px;
     background-repeat: no-repeat;
     width: 100%;
     font-size: 16px;
     padding: 12px 20px 12px 40px;
     border: 1px solid #ddd;
     margin-bottom: 12px;
   }
 
   #myTable {
     border-collapse: collapse;
     width: 100%;
     border: 1px solid #ddd;
     font-size: 18px;
   }
 
   #myTable th, #myTable td {
     text-align: left;
     padding: 12px;
   }
 
   #myTable tr {
     border-bottom: 1px solid #ddd;
   }
 
 
   #myTable tr.header, #MyTable tr:hover {
     background-color: #f1f1f1;
   }